body {
	background-color: beige;
}
.container {
	border: 2px solid black;
	width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 5%;
}
button {
	margin-top: 1%;
	margin-bottom: 5%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
#textID {
	margin-left: 0.5rem;
}
